/*--took design inspiration from a friend's website.  While writing my own code, I wanted to have a pleasant-looking site that wasn't overly complicated on the backend. I liked the minimal look, simple links, balanced text/image relationship: http://www.cheryli.com/*/
/*w3schools was extensively consulted for elements on page */

/*I used inspect element A LOT to adjust css elements on page before placing in my stylesheet and committing to git. */
.menu {
    width: 100%;
    /*https://www.w3schools.com/cssref/pr_dim_width.asp */
    border-bottom: 2px dotted lightgray;
    box-sizing: border-box;
 /*I had to play around a lot with the padding and height */
    padding: 25px 200px 25px 175px;
    height: 110px;
}

.site-title {
    /*i had to manually adjust all the font sizes to override auto settings and make sure they fit the H1-h4 hierarchy, visually*/
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    font-weight: bolder;
    max-width: 50%;
    display: inline-block;
 
}

.nav-bar {
    /*https://www.w3schools.com/cssref/pr_class_display.asp*/
    display: inline;
}

.nav-link {
    float: right;
    padding: 10px;
    color: #555;
    margin-top: 11px;
    font-size:  16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    font-weight: bolder;
}

.nav-link a:hover {
    /*i remembered hover from my old job years ago.  always liked a nice hover. https://www.w3schools.com/cssref/sel_hover.asp*/
    background-color: #111;
  }
/*originally, i didn't have the .nav classes in UL LI, but I read the rubric stating the nav had to be in an UL LI, so I changed it. https://www.w3schools.com/css/css_navbar.asp */
.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar ul li {
    float: right;
}

.nav-bar ul li >a {
    display: block;
    padding: 16px;
    color: #555;
    font-size:  16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    font-weight: bolder;
}

.nav-link ul {
    float: right;
    padding: 10px;
    color: #555;
    margin-top: 11px;
    font-size:  16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    font-weight: bolder;
    list-style-type: none;
    
}

.nav-link ul a:hover {
    background-color: #111;
}
/*I decided to make each link their own class for style and tinkering*/
.linkin-link ul {
    float: right;
    padding: 10px;
    color: #555;
    margin-top: 11px;
    font-size:  16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    font-weight: bolder;
    list-style-type: none;
}

.linkin-link ul a:hover {
    background-color: #111;
}

.twit-link ul {
    float: right;
    padding: 10px;
    color: #555;
    margin-top: 11px;
    font-size:  16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    font-weight: bolder;
    list-style-type: none;
}

.twit-link ul a:hover {
    background-color: #111;
}

body {
    padding: 0;
    margin: 0;
}

.left {
    float: left;
    width: 50%;
    padding: 24px;
}

.home-img {
    /*I use the same class for both images.  I learned about border radius from w3schools: https://www.w3schools.com/cssref/css3_pr_border-radius.asp*/
    display: block;
    /*I set the  margins to auto so that the image would float in the centre of the block.  I also defined the max width both in terms of % and px.  I chose to do that so that as a consideration for rendering on really big or small monitor / screen sizes.  */
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 650px;
    border-radius: 15%;
}


.right {
    float: right;
    width: 50%;
    padding: 24px;
}

 





h1 {
    /*Consulted Mozilla docs: https://developer.mozilla.org/en-US/docs/Web/CSS/font-family ; https://www.w3schools.com/tags/tag_hn.asp  */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px; 
     
}
/*Once I got an idea of styling, I replicated it a lot and just tweaked the font px to correlate to the right header*/
h2 {
    font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    font-size: 20px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

h3 {
    font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    font-size: 18px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

h4 {
    font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    font-size: 18px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
/*I styled both text blocks for both pages the same, but put them in different classes so that I can easily change them as the content changes.*/
.home-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    font-size: 18px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
} 

.resume-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    font-size: 18px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

li {  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    font-size: 16px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 5px;
}
/*I found flex option when working through elements options in inspect element.  I then looked it up on w3schools. */
.body {
    display: flex;
}

/*has styling reflective of the rest of the pages*/
.footer {
    font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    font-size: 18px;
    color: #555;
    max-width: 50%;
    display: inline-block;
    float: left;
    padding-left: 175px;
    /*
    margin: 0 auto;
    box-sizing: border-box;
    line-height: 1.5;
*/
  
}

  