
body {

}
h1 {
    /*Consulted Mozilla docs: https://developer.mozilla.org/en-US/docs/Web/CSS/font-family ; https://www.w3schools.com/css/default.asp  */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; 
     
}
h2 {
    font-family :'Courier New', Courier, monospace;
    font-size: 14px; 
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
} 

footer {
    font-family :'Courier New', Courier, monospace;
    font-size: 18px;
    color: #555;
    padding: 2rem 0;
    max-width: 800px;
    
    display: block;
    margin: 0 auto;
    max-width: 800px;

    box-sizing: border-box;
    line-height: 1.5;

}

  